{{!-- {{#if posts.length}}
    <h2>Your Posts</h2>
    <div>
        <ul>
        {{#each posts}}
            <li>
            {{> postStuff}}
            <a href='/dashboard/editPost/{{id}}' class='buttons'>Edit Post</a>
            </li>  
        {{/each}}
        </ul>
    </div>
{{#if}} --}}

<div class="">
<a><button id="addPost" href="/dashboard/addPost" class="buttons">Add Post</button></a>
</div>