

<h2>This is the Homepage</h2>
{{!-- {{#if loggedin}}
<a href='/dashboard/newPost' id='newPost' class='buttons'>Add A New Post</a>
{{/if}} --}}

<div>
{{#each posts}}

    {{> postStuff post}}

{{/each}}
</div>

