<div class='wrapper'>
	<h2>Latest Posts</h2>
	<ol class='homepageOl'>
		{{#each posts as |post|}}
		<li class='homepageLi'>
			{{> postInfo post }}
		</li>
		{{/each}}
	</ol>
	<div>
		<a href='/dashboard/addPost'><button id='addPost' class='buttons'>Add a new post</button></a>
	</div>
</div>