<form class='loginForms'>
  <div class='innerForm'>
    <h2>Login</h2>
    <label class='' for='userlogin'>Username:</label>
    <input class='inputField' type='text' id='userLogin' placeholder='Username'/>
    <label class='' for='passwordLogin'>Password:</label>
    <input class='inputField' type='password' id='passwordLogin' placeholder='Password'/>
  </div>
</form>
<div class='loginButtons'>
    <button id='login' class='buttons' type='submit'>Log In</button>
    <a href='/signup'><button type='button' class='buttons'>Sign Up Instead</button></a>
</div>


<script src='/js/login.js'></script>