<div class='wrapper'>
	<div class='innerForm'>
		<h2>Login</h2>
		<input class='inputField' type='text' id='user-login' placeholder="Username"/>
		<input class='inputField' type='password' id='password-login' placeholder='Password'/>
		<div>
			<button id='login' class='buttons' type='submit'>login</button>
			<a href='/signup'><button type='button' class='buttons'>sign up instead</button></a>
		</div>
	</div>
</div>
<script src='/js/login.js'></script>