<section>
  <h2>Create New Post</h2>

  <form class='newPostForm'>
    <div>
      {{!-- <label for='post-title'>Title</label> --}}
      <input type='text' id='postTitle' name='postTitle' placeholder='Post Title'/>
    </div>
    <div>
      {{!-- <label for='post-content'>Content</label> --}}
      <input class='textarea' id='postContent' name='postContent' placeholder='Enter your post content here'/>
    </div>
    <button type='submit' class='btn'>Create</button>
  </form>
</section>

{{!-- <script src='/javascript/add-post.js'></script> --}}