<form class='loginForms'>
  <div class='innerForm'>
    <h2>Sign Up</h2>
    <label class='' for='userSignup'>Username:</label>
    <input class='inputField' type='text' id='userSignup' placeholder='Choose A Username'/>
    <label class='' for='passwordSignup'>Password:</label>
    <input class='inputField' type='password' id='passwordSignup' placeholder='Choose A Password'/>
  </div>
</form>
<div class='loginButtons'>
    <button id='signup' class='buttons' type='submit'>Sign Up</button>
    <a href='/login'><button type='button' class='buttons'>Log In Instead</button></a>
</div>


<script src='/js/signup.js'></script>