<div class='wrapper'>
	<div class='innerForm'>
		<h2>Sign Up</h2>
		<input class='inputField' type='text' id='username-signup' placeholder='Choose a username' />
		<input class='inputField' type='password' id='password-signup' placeholder='Enter a password' />
		<div class='loginButtons'>
			<button id='signup' class='buttons' type='submit'>Signup</button>
			<a href='/login'><button type='button' class='buttons'>Log In Instead</button></a>
		</div>
	</div>
</div>
<script src='/js/signup.js'></script>