/* RESET CSS */
*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
img,picture,video,canvas,svg {
  max-width: 100%;
}
a:visited, a:link {
  text-decoration: none;
  /* color: inherit; */
}
/* =================================== */

/* Custom CSS */
:root {
  --white: white;
  --red: red;
  --darkblue: cornflowerblue;
  --black: black;
  --borderColor: rgba(77, 77, 77, 0.712);
  --bgColor: rgba(56, 123, 248, 0.89);
  --windowColor: rgb(0, 0, 0);
  --hover: rgb(0, 240, 140);
  --tab1: rgba(0, 99, 145, 0.808);
  --tab2: rgba(204, 0, 223, 0.666);
  --tab3: rgb(16, 68, 20, 0.666);
  --fs-h1: 42px;
  --fs-h2: 20px;
  --fs-h3: 16px;
  --fs-p: 12px;
}
/* a:hover {
  color: var(--hover);
} */
body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1{
  font-size: var(--fs-h1);
}
h2{
  font-size: var(--fs-h2);
}
h3{
  font-size: var(--fs-h3);
}
p{
  font-size: var(--fs-p);
}
/* Header */
.header{
  background-color: var(--darkblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid var(--borderColor);
}
.title{
  text-align: center;
  padding: 20px 0px;
  width: 100%;
}
.span{
  border-bottom: 2px solid var(--hover);
}
.spanA{color: var(--hover)}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}
.buttons{
  margin: 15px 15px;
  box-shadow: 1px 1px 1px 1px var(--borderColor);
  padding: 3px 5px;
  border-radius: 5px;
  font-size: var(--fs-h2);
  background-color: var(--bgColor);
}
.buttons:hover{
  background-color: var(--hover);
  color: var(--white);
  /* box-shadow: 1px 1px 2px 1px var(--borderColor); */
} 
.greet{
  text-align: center;
  padding: 5px;
  margin: 0 0 20px 0;
}
main{
  height: 100vh;
  background-color: rgba(100, 148, 237, 0.76);
  text-align: center;
  padding-top: 20px;
}
.loginForms{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.innerForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darkblue);
  border: 2px solid var(--borderColor);
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  gap: 5px 0;
}
.inputField{
  text-align: center;
  padding: 2px;
  font-size: 18px;
  border: 2px inset var(--borderColor);
  border-radius: 8px;
  margin: 10px;
}
.loginButtons{
  display: flex;
  flex-direction: row;
  margin: 25px 25px;
  justify-content: center;
}
/* @media screen and (max-width: 500px) {
    body {
      background-color: lightblue;
    }
  } */

@media screen and (min-width: 501px) and (max-width: 768px) {
  body {
    
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    
  }
}

@media screen and (min-width: 1025px) {
  body {
    
  }
}
